@import url("https://checkmate-ui.netlify.app/css/components.css");

html {
  height: 100%;
}

main {
  width: 100%;
  overflow-y: visible;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-header {
  margin: 0;
}

.title i {
  font-size: 1.8rem;
}

.nav-title {
  font-size: 1.8rem;
}

.page-title {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
