@import url("../../footer.css");

.nav-header {
  margin: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  height: 90vh;
  width: 100%;
  background-color: rgb(247, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background-color: white;
  border: none;
  border-radius: 5px;
}
