@import url("../common.css");
@import url("../footer.css");

main {
  height: 90vh;
  background-color: rgb(247, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background-color: white;
  border: none;
  border-radius: 5px;
}